div{
    background-color: #916953;
}
h1{
    background-color: #cf8e80;
}
form{
    background-color: #fcb5b5;
}
input{
    background-color: #fcddf2;
    color: #270202;
}
button{
    background-color: #faf6f6;
}
h2{
    background-color: #4f2b2b;
}
p{
    background-color: #270202;
}
button:hover{
    background-color: #a3503e;
}